/AMS/.vs/AMS/FileContentIndex

/AMS/AMS.Core/bin
/AMS/AMS.Core/obj
/AMS/AMS.Infrustructure/bin
/AMS/AMS.Infrustructure/obj
/AMS/AMS.Service/bin
/AMS/AMS.Service/obj
/AMS/AMS.Web/bin
/AMS/AMS.Web/obj

/AMS/AMS.Web/appsettings.Development.json
/AMS/AMS.Web/Properties/launchSettings.json
/AMS/.vs



